.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  height: 20em;
}

.suggestions {
  margin-top: 5em;
  margin-bottom: 1em;
}
.categories {
  cursor: pointer;
  font-weight: bolder;
}

.main {
  text-align: center;
}

.columns:hover {
  font-weight: 500;
  cursor: pointer;
}
